<!-- <h2>{{ nueva == true ? "Agregar tarea" : "Modificar tarea" }}</h2> -->
<form #f="ngForm" class="grid p-fluid">
  <div class="col-12 md:col-4">
    <span>Nombre</span>
    <input
      type="text"
      class="my-2"
      name="nombre"
      [(ngModel)]="tarea.nombre"
      required
      [class.error]="
        f.controls['nombre']?.invalid && f.controls['nombre']?.touched
      "
      pInputText
    />
    <p
      class="error-mensaje text-danger mt-1 ml-4"
      *ngIf="f.controls['nombre']?.invalid && f.controls['nombre']?.touched"
    >
      Nombre obligatorio
    </p>
  </div>
  <div class="col-12 md:col-4">
    <span>Especificación</span>
    <input
      type="text"
      class="my-2"
      name="especificacion"
      [(ngModel)]="tarea.especificacion"
      required
      [class.error]="
        f.controls['especificacion']?.invalid &&
        f.controls['especificacion']?.touched
      "
      pInputText
    />
    <p
      class="error-mensaje text-danger mt-1 ml-4"
      *ngIf="
        f.controls['especificacion']?.invalid &&
        f.controls['especificacion']?.touched
      "
    >
      Especificación obligatoria
    </p>
  </div>
  <div class="col-12 md:col-4">
    <span>Estado</span>
    <input
      type="text"
      class="my-2"
      name="estado"
      [(ngModel)]="tarea.estado"
      required
      [class.error]="
        f.controls['estado']?.invalid && f.controls['estado']?.touched
      "
      pInputText
    />
    <p
      class="error-mensaje text-danger mt-1 ml-4"
      *ngIf="f.controls['estado']?.invalid && f.controls['estado']?.touched"
    >
      Estado erróneo
    </p>
  </div>
  <div class="col-12 md:col-4">
    <span for="check"> Realizado </span>
    <p-checkbox
      [binary]="true"
      [(ngModel)]="tarea.realizado"
      id="check"
      name="realizado"
    ></p-checkbox>
  </div>
  <div class="col-12 md:col-4">
    <p-button
      class="justify-content-end"
      type="submit"
      (click)="guardarTarea()"
      [disabled]="f.invalid"
    >
      {{ nueva == true ? "Aceptar" : "Actualizar" }}
    </p-button>
  </div>
</form>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  acceptButtonStyleClass="p-button-primary"
  [rejectVisible]="false"
  acceptspan="Aceptar"
></p-confirmDialog
><!--PAra que aparezca el alerta-->
