<div class="card">
  <div
    class="flex align-items-center justify-content-end flex-wrap card-container"
    style="gap: 0.5em"
  >
    <span>{{ usuario?.displayName }}</span>

    <img
      [src]="usuario?.photoURL"
      height="40"
      class="border-circle w-auto"
      style="margin: 0"
    />

    <button
      pButton
      label="Logout"
      (click)="cerrarSesion()"
      icon="pi pi-power-off"
      style="align-self: flex-start"
    ></button>
  </div>
</div>

<h1>Tablón de tareas</h1>

<!-- <app-formulario-tareas [nueva]="nueva" [tarea]="tarea" (tareaNueva)="agregarTarea($event)" (tareaModificada)="modificarTarea($event)"></app-formulario-tareas> -->
<p-button (click)="showDialog()">Nueva tarea</p-button>

<div class="my-4">
  <div class="flex flex-row">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Tareas en curso</div>
      </div>
      <div pDroppable="tarea" (onDrop)="redrop($event)" class="h-full">
        <div *ngFor="let tarea of tareasDisponibles">
          <div
            class="col-12 drop-column"
            pDraggable="tarea"
            (onDragStart)="dragStart($event, tarea)"
            (onDragEnd)="dragEnd($event)"
          >
            <p-card styleClass="amarillo-shadow">
              <ng-template pTemplate="header">
                {{ tarea.nombre }}
              </ng-template>
              Especificaciones: {{ tarea.especificacion }} <br />
              <!--AQUI TENGO IDEA A VER SI SABEMOS HACERLO-->
              Estado: {{ tarea.estado }}
              <button type="button" (click)="modificarTarea(this.tarea)">Modififcar</button>
              <button type="button" (click)="borrarTarea(this.tarea)">Borrar</button>
            </p-card>
          </div>
        </div>
      </div>
    </div>

    <!--aqui empieza la tabla-->

    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 mx-2">
      <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Tareas finalizadas</div>
      </div>
      <div (onDrop)="drop($event)" pDroppable="tarea" class="h-full">
        <ng-container *ngFor="let tareaF of tareasFinalizadas">
          <div
            class="col-12 drop-column"
            pDraggable="tarea"
            (onDragStart)="redragStart($event, tareaF)"
            (onDragEnd)="redragEnd($event)"
          >
            <p-card styleClass="amarillo-shadowe">
              <ng-template
                pTemplate="header"
                styleClass="justify-content-center"
              >
                {{ tareaF.nombre }}
              </ng-template>
              Especificaciones: {{ tareaF.especificacion }} <br />
              <!--AQUI TENGO IDEA A VER SI SABEMOS HACERLO-->
              Estado: {{ tareaF.estado }}
            </p-card>
          </div>
        </ng-container>
      </div>
      <!-- <p-table [value]="tareasSeleccionadas"> -->
    </div>
  </div>
</div>

<!--AQUI EMPIEZA LA VENTANA MODAL-->
<p-dialog
  header="Agregar tarea"
  [(visible)]="display"
  [style]="{ width: '50vw' }"
  ><!--cuando el display está true es cunado la ventana emerge/se ve-->
  <!-- con tarea = tarea, le pasamos una tarea vacía al formulario -->
  <app-formulario-tareas
    [tarea]="tarea"
    [nueva]="nueva"
    (tareaNueva)="agregarTareaFirebase($event)"
    (tareaModificada)="modificarTareaFirebase($event)"
  ></app-formulario-tareas>
</p-dialog>
