<h1>Tablón de tareas</h1>

<!-- <app-formulario-tareas [nueva]="nueva" [tarea]="tarea" (tareaNueva)="agregarTarea($event)" (tareaModificada)="modificarTarea($event)"></app-formulario-tareas> -->
<p-button (click)="showDialog()">Nueva tarea</p-button>

<p-splitter class="col-12 md:col-6 drag-column">
  <h3>TAREAS EN CURSO</h3>
  <ng-template pTemplate>
    <div *ngFor="let tarea of tareasDisponibles">

    <ng-template
      class="product-item"
      pDraggable="tarea"
      (onDragStart)="dragStart($event, tarea)"
      (onDragEnd)="dragEnd($event)"
    >

    <p-card>
      <ng-template pTemplate="header">
          {{ tarea.nombre }}
      </ng-template>
      Body Content
  </p-card>
</ng-template>
</div>
</ng-template>

      <!-- <div class="image-container">
        {{ tarea.nombre }}
<ng-template pTemplate>
TAREAS FINALIZADAS
  <div
  class="col-12 md:col-6 drop-column"
  pDraggable="tarea"
  pDroppable="tarea"
  (onDrop)="drop($event)"
>
<div *ngFor="let tareasF of tareasFinalizadas">
<p-card>
  <ng-template pTemplate="header">
      {{ tareasF.nombre }}
  </ng-template>
  Body Content
</p-card>
</div>
</div>
</ng-template>
=======
  <!--aqui empieza la tabla-->

  <ng-template pTemplate>
    <h3>TAREAS FINALIZADAS</h3>
    <div *ngFor="let tareaF of tareasFinalizadas">
    <div
      class="col-12 md:col-6 drop-column"
      pDraggable="tarea"
      pDroppable="tarea"
      (onDrop)="drop($event)"
    >

      <p-card>
        <ng-template pTemplate="header">
          {{ tareaF.nombre }}
        </ng-template>
        Body Content
      </p-card>
    </div>
    </div>
  </ng-template>
  <!-- <p-table [value]="tareasSeleccionadas"> -->
</p-splitter>
<!--AQUI EMPIEZA LA VENTANA MODAL-->
<p-dialog
  header="Agregar tarea"
  [(visible)]="display"
  [style]="{ width: '50vw' }"
>
  <app-formulario-tareas
    [tarea]="tarea"
    [nueva]="nueva"
    (tareaNueva)="agregarTareaFirebase($event)"
    (tareaModificada)="modificarTareaFirebase($event)"
  ></app-formulario-tareas>
</p-dialog>
