<div class="card">
  <div
    class="flex align-items-center justify-content-end flex-wrap card-container pb-3"
    style="gap: 0.5em"
  >
    <span>{{ usuario?.displayName }}</span>

    <img
      [src]="usuario?.photoURL"
      height="40"
      class="border-circle w-auto"
      style="margin: 0"
    />

    <button
      pButton
      label="Logout"
      (click)="cerrarSesion()"
      icon="pi pi-power-off"
      style="align-self: flex-start"
    ></button>
  </div>
</div>

<hr />

<!-- Block -->

<div class="surface-ground">
  <div class="text-900 font-bold text-3xl m-3 text-center">
    Tablon de tareas
  </div>
  <div class="text-center mb-2">
    <p-button (click)="showDialog()">Nueva tarea</p-button>
  </div>

  <div class="grid">
    <div class="col-12 lg:col-6" pDroppable="tarea" (onDrop)="redrop($event)">
      <div class="p-3">
        <div class="text-900 font-bold text-xl mb-2 text-center">
          Tareas en curso
        </div>
        <div
          class="shadow-2 p-3 mb-3 h-full flex flex-column surface-card"
          style="border-radius: 6px"
          *ngFor="let tarea of tareasDisponibles"
        >
          <ul
            class="list-none p-3 m-1 flex-grow-1"
            pDraggable="tarea"
            (onDragStart)="dragStart($event, tarea)"
            (onDragEnd)="dragEnd($event)"
            id="ul-left"
          >
            <li class="flex align-items-center justify-content-center m-3">
              <span class="text-900 font-bold text-l">{{ tarea.nombre }}</span>
            </li>
            <li class="flex align-items-center mb-3">
              <span>Especificaciones: {{ tarea.especificacion }}</span>
            </li>
            <li class="flex align-items-center mb-3">
              <span
                >Fecha:
                {{
                  tarea.fecha.seconds * 1000 | date: "dd/MM/yyyy HH:mm"
                }}</span
              >
            </li>
            <div class="flex justify-content-end" style="gap: 0.5em">
              <button
                (click)="modificarTarea(tarea)"
                pButton
                type="button"
                icon="pi pi-sliders-v"
                class="p-button-rounded p-button-warning"
              ></button>
              <button
                (click)="borrarTareaFirebase(tarea)"
                pButton
                type="button"
                icon="pi pi-ban"
                class="p-button-rounded p-button-danger"
              ></button>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-6" pDroppable="tarea" (onDrop)="drop($event)">
      <div class="p-3">
        <div class="text-900 font-bold text-xl mb-2 text-center">
          Tareas finalizadas
        </div>
        <div
          class="shadow-2 p-3 mb-3 h-full flex flex-column surface-card"
          style="border-radius: 6px"
          *ngFor="let tareaF of tareasFinalizadas"
        >
          <ul
            class="list-none p-3 m-1 flex-grow-1"
            pDraggable="tarea"
            (onDragStart)="redragStart($event, tareaF)"
            (onDragEnd)="redragEnd($event)"
            id="ul-right"
          >
            <li class="flex align-items-center justify-content-center m-3">
              <span class="text-900 font-bold text-l">{{ tareaF.nombre }}</span>
            </li>
            <li class="flex align-items-center mb-3">
              <span>Especificaciones: {{ tareaF.especificacion }}</span>
            </li>
            <li class="flex align-items-center mb-3">
              <span
                >Fecha:
                {{
                  tareaF.fecha.seconds * 1000 | date: "dd/MM/yyyy HH:mm"
                }}</span
              >
            </li>
            <div class="flex justify-content-end" style="gap: 0.5em">
              <button
                (click)="modificarTarea(tareaF)"
                pButton
                type="button"
                icon="pi pi-sliders-v"
                class="p-button-rounded p-button-warning"
              ></button>
              <button
                (click)="borrarTareaFirebase(tareaF)"
                pButton
                type="button"
                icon="pi pi-ban"
                class="p-button-rounded p-button-danger"
              ></button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--AQUI EMPIEZA LA VENTANA MODAL-->
<p-dialog [header]="titulo" [(visible)]="display" [style]="{ width: '50vw' }"
  ><!--cuando el display está true es cunado la ventana emerge/se ve-->
  <!-- con tarea = tarea, le pasamos una tarea vacía al formulario -->
  <app-formulario-tareas
    [tarea]="tarea"
    [nueva]="nueva"
    (tareaNueva)="agregarTareaFirebase($event)"
    (tareaModificada)="modificarTareaFirebase($event)"
  ></app-formulario-tareas>
</p-dialog>

<p-confirmDialog
  header="Eliminar"
  icon="pi pi-exclamation-triangle"
  key="eliminar"
></p-confirmDialog>
