<app-login></app-login>

<h3 class="flex align-items-center justify-content-center">Elige tu lado:</h3>

<div class="flex align-items-center justify-content-center pb-3">
  <a (click)="changeTheme('bootstrap4-dark-purple')" class="mr-3 cursor-pointer">
    <img src="../assets/images/vader.png" width="50" alt="logo-vader" title="Tema oscuro">
  </a>
  <a (click)="changeTheme('bootstrap4-light-purple')" class="mr-3 cursor-pointer">
      <img src="../assets/images/r2.png" width="50" alt="logo-r2" title="Tema claro">
  </a>
</div>
